.dashboard-page {
  margin: 0;
  min-height: 100vh;

  background: linear-gradient(
    135deg,
    #2db4d6, 
    #4b63c6, 
    #7b2cbf   
  );
}

.dashboard {
  display: flex;
  flex-direction: column;   
  align-items: center;      
  width: 1000px;

  background-color: var(--bg-main);  
  color: var(--text-main);

  margin: 0 auto;
  border-radius: 25px;
}

.title {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  background-color: var(--bg-dark);
  color: var(--secondary);
}

.box-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.box {
  width: 150px;
  height: 150px;

  background-color: var(--card-bg);  
  border: 2px solid var(--border);
  border-radius: 25px;

  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
}

.chart-container {
  display: flex;
  width: 800px;

  background-color: var(--card-bg);
  border: 2px solid var(--border);
  border-radius: 25px;

  padding: 20px;
}

.pastevents-box {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 760px;

  background-color: var(--card-bg);
  border: 2px solid var(--border);

  margin-top: 20px;
  margin-bottom: 20px;

  align-items: center;  
  padding: 20px; 
  border-radius: 25px;
}

.chartbox {
  width: 600px;         
  height: 25px;          

  background-color: var(--secondary); /* was random rgb */
  color: var(--text-light);

  border: none;
  border-radius: 25px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
}

.box2-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  width: 800px;

  margin: 0 auto;             
  justify-content: center;   
}

.box,
.chart-container,
.pastevents-box {
  background: rgba(176, 221, 233, 0.55);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border: 1px solid rgba(255, 255, 255, 0.103);
  box-shadow: 0 8px 24px rgba(150, 46, 211, 0.12);
}