.landingPage {
    display: flex;
    height: 100vh;
}

.login-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; /* centers horizontally */
}

.login-side h1 {
    font-size: 6rem;
    margin: 10rem 0 2rem 0;
}

.login-info {
    margin: 0 auto;
    text-align: center;
}


.landingPage-input {
    padding: 0.35rem 0.6rem;
    border-radius: 8px;
    border: 2px solid darkviolet;
    font-size: 0.9rem;
    margin-bottom: 0.4rem;
}

.picture-side {
    background-color: blueviolet;
    width: 50%;
}